  #top
  {
   background-color: yellow;
   text-align: center;
   color: red;
   font-size:34px
  }
  #bottom
  {
  background-color: yellow;
   text-align: center;
   color: red;
   font-size:34px
  }

